/*
.services-title{
    color: blue;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.services-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
@media only screen and (max-width: 576px){
    .services-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
    .services-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
} 




*/